@import 'variable';

// center cards.
@mixin  display_center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// card.
@mixin display_start() {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

// button 
@mixin button() {
    background: none;
    border: none;
    padding: 16px 40px;
    border-radius: 30px;
    text-transform: capitalize;
    background: $Very_light_gray;
    border: 1px solid $Very_light_gray;
    cursor: pointer;
    margin: 100px 0px 20px 30px;

    &:hover {
        background: none;
        color: #000;
    }
}


@mixin margin(){
    margin: 30px 0px 20px 30px;
}